@font-face {
    font-family: 'Norse-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Norse-Bold'), url('assets/Norse-Bold.otf') format('truetype');
}

:root {
    font-family: Georgia, 'Times New Roman', Times, serif;
    --green: #596D48;
    --white: #f0f0f0;
    --grey: #E5E7EB;
    --red: rgb(255, 92, 92);
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

button {
    background-color: var(--green);
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    border: 3px solid white;
    padding: 15px 40px 15px 40px;
    margin-bottom: 3vh;
}

span {
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    gap: 10vw;
    border: none;
    padding: 0;
    margin: 0;
    padding-top: 2vh;
}

label {
    color: rgb(69, 69, 69);
    font-weight: 500;
    font-size: 12px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    border: 1px solid var(--grey);
    border-radius: 5px;
    height: 2.5vh;
    width: 15vw;
}

input:required:invalid {
    border: 1px solid var(--red);
}

input:hover {
    border: 2px solid lightblue;
}

p {
    color: rgb(65, 65, 65);
    font-weight: 500;
    font-size: 20px;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: lightgreen;
}

.left,
.right {
    display: flex;
    flex-direction: column;
}

.left {
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-items: center;
}
.right {
    position: relative;
    width: 100% - 40vw;
    background-color: var(--white);
}

.top-right,
.mid-right,
.bottom-right {
    padding-left: 5vw;
    padding-right: 15vw;
    position: relative;
}

.top-right {
    top: 10vh;
}

.mid-right {
    top: 10vh;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.075);
    font-family: 'Comic Sans';
    background-color: white;
    padding-top: 20px;
    padding-bottom: 40px;
}

.bottom-right {
    top: 12vh;
}

#rainforest {
    height: 100vh;
    position: relative;
}

.overlayed-banner {
    display: flex;
    position: fixed;
    padding-left: 20%;
    padding-right: 20%;
    top: 30vh;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;
}

#odin-outline {
    height: 15vh;
}

#overlayed-text {
    position: relative;
    bottom: -4vh;
    font-family: 'Norse-Bold';
    font-size: 10vh;
    color: white;
}

.photo-credits {
    align-items: center;
    position: fixed;
    color: white;
    bottom: 10px;
}

#login-link {
    color: var(--green);
}

#error-msg {
    display: initial;
    font-size: smaller;
    color: var(--red);
}